*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #08112d;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 50px 0;
    position: relative;
    width: 100%;
    gap: 50px;
}

main .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    padding: 2%;
    width: 200px;
    height: 350px;
    background: #fbf6984a;
    border-radius: 15px;
    position: relative;
}
.card:hover{
    filter: drop-shadow(2px 2px 3px #fbf6984a);
}
.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 50%;
}
.card-img img{
    max-height:200px ;
    max-width: 180px;
}
.card .card-input{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
}

.boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 280px;
    border-radius: 15px;
    background: #a3a1cd;
    z-index: 2;
    text-align: center;
}
p{
    z-index: 3;
}


footer{
    position: absolute;
    bottom: -50px;
    left: -13px;

}
footer img{
    width: 100vw;
    
}

